.form-style {
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 20px;
}
.form-header {
  position: relative;
  padding: 1px;
  margin-bottom: 30px;
}

.form-header h1:before {
  content: "";
  background: linear-gradient(45deg, #41295a, #2f0743);
  position: absolute;
  width: 40px;
  height: 3px;
  bottom: 0px;
  left: 44%;
}
.form-header h1 {
  font-size: 30px;
  color: #23bcff;
}
.form-style input {
  border: none;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  transition: 0.5s;
  font-size: 17px;
  margin-bottom: 30px;
  padding: 7px;
  box-shadow: 0 0 10px #f7f7f7;
}
.login-container {
  margin-bottom: 126px;
}
.loginBtn {
  width: 320px;
  border: 1px solid #05405a;
  border-radius: 20px;
  height: 43px;
  margin: auto;
}
.loginBtn button {
  font-size: 17px;
  font-weight: 700;
  color: #05405a;
}
.loginBtn:hover button {
  color: #05405a;
}
.loginBtn button:focus {
  box-shadow: none;
}
.form-style input:focus {
  transform: translateY(-10px);
  box-shadow: none;
}
.form-style input::placeholder {
  font-size: 15px;
  position: absolute;
  left: 10px;
  color: #222;
}
.form-style p {
  color: #222;
  font-weight: 600;
}

.form-style p a {
  text-decoration: none;
}
.loginBtn button img {
  width: 28px;
  margin-right: 25px;
}
