.btn-brand {
  width: 140px;
  height: 40px;
  color: white;
  background-color: #00608a;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 700;
  transition: 0.5s;
}
.btn-brand:hover {
  color: #23bcff;
  border: 1px solid #00608a;
  background-color: transparent;
}
h1,
h2,
h3,
h4 {
  color: #00608a;
}
h5 {
  color: rgb(36 188 255);
}
h1 {
  font-size: 50px;
}
.card-style {
  padding: 20px;
  border-radius: 5px;
  transition: 0.5s;
}
.card-style:hover {
  box-shadow: 0 0 10px #d0d0d0;
}
