@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?61afe014fe28b1414e127bb92f6f9d3e") format("truetype"),
url("./flaticon.woff?61afe014fe28b1414e127bb92f6f9d3e") format("woff"),
url("./flaticon.woff2?61afe014fe28b1414e127bb92f6f9d3e") format("woff2"),
url("./flaticon.eot?61afe014fe28b1414e127bb92f6f9d3e#iefix") format("embedded-opentype"),
url("./flaticon.svg?61afe014fe28b1414e127bb92f6f9d3e#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-calendar:before {
    content: "\f101";
}
.flaticon-facebook-logo:before {
    content: "\f102";
}
.flaticon-food-delivery:before {
    content: "\f103";
}
.flaticon-instagram:before {
    content: "\f104";
}
.flaticon-linkedin:before {
    content: "\f105";
}
.flaticon-washing-machine:before {
    content: "\f106";
}
.flaticon-wipe:before {
    content: "\f107";
}
.flaticon-youtube:before {
    content: "\f108";
}
