@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?247d7e6d633e064a98be4d386fa8c19a") format("truetype"),
url("./flaticon.woff?247d7e6d633e064a98be4d386fa8c19a") format("woff"),
url("./flaticon.woff2?247d7e6d633e064a98be4d386fa8c19a") format("woff2"),
url("./flaticon.eot?247d7e6d633e064a98be4d386fa8c19a#iefix") format("embedded-opentype"),
url("./flaticon.svg?247d7e6d633e064a98be4d386fa8c19a#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-calendar:before {
    content: "\f101";
}
.flaticon-food-delivery:before {
    content: "\f102";
}
.flaticon-washing-machine:before {
    content: "\f103";
}
.flaticon-wipe:before {
    content: "\f104";
}
